.css_id_registro_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_registro_grid_line {vertical-align: top;text-align: right;}
.css_valor_pago_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valor_pago_grid_line {color:#009900;vertical-align: middle;text-align: center;}
.css_data_insert_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_insert_grid_line {vertical-align: top;text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_usuario_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_usuario_id_grid_line {vertical-align: top;text-align: right;}
.css_empresa_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_empresa_id_grid_line {vertical-align: top;text-align: right;}
